.game {
    display: grid;
    gap: 16px;
    margin: 60px auto;
    width: 400px;
}

.label {
    color: #fff;
    display: grid;
    gap: 2px;
}

.input {
    border: 1px solid red;
    border-radius: 4px;
    outline: none;
    padding: 10px 20px;
}

.button {
    background-color: rgb(131,58,180);
    border: none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    padding: 10px;
    transition: background .4s;

    &:hover {
        background-color: rgb(98, 39, 138);
    }
}