@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&display=swap');

body {
  background: rgb(131,58,180);
  background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
  font-family: 'Manrope', sans-serif;
}

.home-container {
  background-color: #ffffff60;
  border-radius: 4px;
  color: rgb(29, 29, 29);
  margin: 60px auto;
  padding: 20px 30px;
  text-align: center;
  width: 800px;
}

.main-heading {
  text-align: center;
}

.notFound {
  color: #fff;
  font-size: 40px;
  text-align: center;
  text-shadow: 2px 2px 2px rgba(0,0,0,0.7);
  padding: 40px;
}